#hide_list_orders:hover {
  border: 1px solid rgb(255, 255, 255);
}

#hide_list_orders {
  margin-right: 10px;
}

#logo_brand,
#hide_restaurant_state {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#left_brand {
  color: white;
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rush_mode_text {
  color: 'white';
}

@media (max-width: 768px) {
  #left_brand {
    width: auto;
  }
}
