#tous_les_commandes {
  flex-direction: row;
  align-items: top;
  justify-content: top;
}
#contenu_attente_liste:hover {
  color: white;
  background-color: rgb(32, 33, 37);
}
#corps_orders {
  width: 100vw;
  /*margin-top: 6vh;*/
  height: 91.5vh;
  overflow: hidden;
  /* background-color: rgb(32, 33, 37); */
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  background-color: rgb(32, 33, 37);
}

#list_contenu_order_nouvelles {
  height: 93%;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  width: auto;
  background-color: white;
  overflow-y: auto;
  padding: 10px;
}
/*
#finished_order {
  background-color: red;
}*/
.tab_list_contenu {
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0 0 2px 1px #ddd;
  border-radius: 5px;
  width: 87vh;
  height: auto;
}

#list_contenu_order_nouvelles,
#list_contenu_order_encours {
  overflow-x: hidden;
}
#list_contenu_order_encours {
  height: 93%;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  width: auto;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
}
#contenu_attente {
  height: 93%;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  width: auto;
  background-color: white;
}

#contenu_pret {
  height: 93%;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  width: auto;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
  /* border: 2px solid white; */
}

#list_order {
  text-align: center;
  width: 14%;
  background-color: rgb(32, 33, 37);
  transition: width 500ms;
  display: none;
}

#incoming_orders {
  text-align: center;
  width: 45%;
  background-color: rgb(32, 33, 37);
}

#outgoing_orders {
  text-align: center;
  width: 45%;
  background-color: rgb(32, 33, 37);
}

#ready_orders {
  text-align: center;
  width: 10%;
  background-color: rgb(32, 33, 37);
}

#mode_rush {
  background-color: rgb(209, 106, 28);
  margin-top: 5.4vh;
  color: white;
  font-weight: 500;
  font-size: 21px;
  height: 0vh; /*8vh;*/
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: height 500ms;
}

#scroll_list_articles,
#scroll_list_articles_modal {
  overflow-y: auto;
}
